---
layout: splash
permalink: /
header:
  overlay_color: "979797"
  overlay_image: /assets/images/collar.jpg
title: George Ho
excerpt: "<q>I get satisfaction of three kinds. One is creating something, one
  is being paid for it and one is the feeling that I haven't just been sitting
  on my ass all afternoon.</q><br />- William F. Buckley Jr."
author_profile: false
---
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<div class="grid__wrapper">
  {% for post in site.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
