<hr>
<h1>Want to get my blog posts by email?</h1>
<p>Join my mailing list to get notified when I publish new content.</p>
<form action="http://tinyletter.com/eigenfoo" method="post" target="popupwindow" onsubmit="window.open('http://tinyletter.com/eigenfoo', 'popupwindow'); return true">
    <input style="border:1px solid" type="text" name="email" value="email@example.com" onfocus="if (this.value == 'email@example.com') {this.value = '';}" onblur="if (this.value == '') {this.value = 'email@example.com';}">
    <div align="right">
        <input style="border:1px solid" type="submit" class="button" value="Subscribe">
    </div>
</form>
