<!-- Begin Mailchimp Signup Form -->
<!-- Commenting out MailChimp's form style.
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
-->

<hr>
<div id="mc_embed_signup">
<h1>Want to get my blog posts by email?</h1>
<p>Subscribe to my mailing list to follow my blog.</p>
<p>You'll only get emailed when I publish new posts.</p>
<form action="https://xyz.us20.list-manage.com/subscribe/post?u=6a45b967f9ecc52bdd7898571&amp;id=c6036db676" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input style="border: 1px solid" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6a45b967f9ecc52bdd7898571_c6036db676" tabindex="-1" value=""></div>
    <div align="right" class="clear"><input style="border: 1px solid" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<hr>

<!--End mc_embed_signup-->
