---
layout: archive
---

<h1>Welcome!</h1>

<p><img style="float: right; width: 300px; height: 360px; margin: 20px 20px;"
src="https://raw.githubusercontent.com/eigenfoo/eigenfoo.github.io/master/stuff/portrait.png"></p>

<p>Hi there, my name is George!</p>

<p>Math nerd (<a href="http://gizmodo.com/5528552/this-is-why-im-not-a-dork">or geek</a>),
coffee lover, incorrigible
<a href="https://www.quora.com/Whats-the-exact-difference-between-a-Pythoneer-and-a-Pythonista">Pythonista</a>,
~~outstanding~~ card player and PyData enthusiast.</p>

<p>(<em>In case you haven't noticed, I also really like sushi.</em>)</p>

<p>Check out <a href="https://eigenfoo.github.io/blog/">my blog</a>, read about
some of <a href="https://eigenfoo.github.io/projects/">my projects</a>, or find
out more <a href="https://eigenfoo.github.io/about/">about me</a>!</p>

<h2>What's up with your username?</h2>

<p>It seemed like a good idea at the time, but now people keep asking about it...</p>

<p><em>Eigen</em> is German for "own", but a better translation (especially when it comes
to math words like eigenvalue) would be "belonging to" or "corresponding to"
(e.g., a value <em>corresponding to</em> a matrix). <em>Foo</em>, <em>bar</em> and <em>baz</em> are
<a href="https://en.wikipedia.org/wiki/Foobar">placeholder names</a> in computer
programming: basically techier versions of "asdf" or "blah".</p>

<p>So taken together, eigenfoo probably means something like "blahs that
belong to [George]".</p>


